#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn, .btn:focus {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #c4d733;
    background-color: #242b32;
    transition: color 0.3s;
}

.btn:hover, .btn:focus:hover {
    color: #458ca5;
}

.popupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px; left: 110px; right: 0px; bottom: 0px;
    background-color: #242b3299;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.showPopup {
   visibility: visible;
   opacity: 1;
}

.popup {
    max-width: 900px;
    border: 1px solid #242b32;
    background-color: #fff;
    color: #242b32;
    border-radius: 7px;
    transition: transform 0.5s;
}

.hidePopup .popup {
    transform: translateY(-25vh);
}

.popupFooter {
    border-top: 1px solid #242b32;
    padding: 10px 10px;
    text-align: right;
}

.closePopup {
    margin: 0;
}