#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn, .btn:focus {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #458CA5;
    border: 1px solid #458CA5;
    border-radius: 0;
    background-color: transparent;
    transition: color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover, .btn:focus:hover {
    border-color: #000;
    color: black;
    background-color: #C4D733;
}

.popupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px; left: 110px; right: 0px; bottom: 0px;
    background-color: #242b3299;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.showPopup {
    visibility: visible;
    opacity: 1;
}

.hidePopup {
    transition: opacity 0.5s ease, visibility 0s ease 0.5s;
}

.popup {
    max-width: 900px;
    min-width: 500px;
    border: 1px solid #242b32;
    background: url(/img/BG_ISTEX_LIGHT_DESKTOP.jpg) center repeat;
    /* background-color: #ECECEC; */
    color: #242b32;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    transform: translateY(-25vh);
    transition: transform 0.5s;
}

.showPopup .popup {
    transform: translateY(-10px);
}

.popupHeader {
    border-bottom: 1px solid #AAA;
    padding: 10px;
}

.popupTitle {
    padding: 10px;
    font-weight: bolder;
}

#closePopup {
    position: absolute;
    right: 12px;
    top : 12px;
    cursor: pointer;
}

#closePopup img {
    width: 20px;
    height: 20px;
}

.popupBody{
    padding: 0px;
    max-height: 50vh;
    overflow-y: scroll;
}

.popupFooter {
    border-top: 1px solid #AAA;
    padding: 10px;
    text-align: right;
}

.popupBtn, .popupBtn:focus {
    margin: 0;
}

#examples {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.exampleItem {
    transition: background-color 0.3s;
    padding: 4px 20px;
    cursor: pointer;
}

.exampleItem:first-child {
    margin-top: 10px;
}

.exampleItem:last-child {
    margin-bottom: 20px;
}

.exampleItem:hover {
    background-color: rgba(0,0,0,.1);
}

.exampleItem input[type="radio"]{
    margin-right : 10px;
    vertical-align: top;
}

#examples hr{
    border-color: #CCC;
    background-color: #CCC;
    color: #CCC;
}